
<app-navbar></app-navbar>
<div class="container">
    <h2>All Posted Advertisements</h2>
    <!-- <a routerLink="/farmer" class="back-button">Back</a> -->

    <button routerLink="/farmer" class="btn btn-primary">Back</button>

    <hr>
    <div class="ad-list-container">
      <div class="ad-list">
        <div *ngFor="let advertisement of advertisements" class="ad-card">
          <div class="ad-title">Product name: {{ advertisement.cropName }}</div>
          <div class="ad-description">Quantity Required: {{ advertisement.quantityRequired }} Kg</div>
          <div class="ad-price">Status: {{ advertisement.status }}</div>
          <div class="ad-description">Supplier Name: {{ advertisement.supplier.name }}</div>
          <div class="ad-description">Supplier email: {{ advertisement.supplier.email }}</div>
          <!-- Add more advertisement details as needed -->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>