<app-navbar></app-navbar>

<div class="container">
    <div class="page-header">
      <h1>About Us</h1>
    </div>
    <div class="row">

        <p>
            This is a farming assistant web service which is a web project to help the farmers working with the motive of greater profitability by direct communication between farmer to supplier and farmer to farmer.
            This innovative site allows for good farmer, retailer and supplier communication. 

        </p>
      <!-- <div class="col-md-6">
        <h2>Our Story</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor velit in mi tincidunt,
          at facilisis elit feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas.
        </p>
      </div>
      <div class="col-md-6">
        <h2>Our Mission</h2>
        <p>
          In hac habitasse platea dictumst. Vivamus faucibus nisl eu odio varius, quis euismod lectus
          eleifend. Maecenas auctor vel mauris in sollicitudin. Nulla facilisi. Suspendisse potenti.
        </p>
      </div> -->
    </div>
  </div>

<app-footer></app-footer>
  