

  .main-login {

    box-sizing: border-box;
    background-image:  url('https://cdn.pixabay.com/photo/2017/10/22/20/43/table-2879215_1280.jpg'); 

    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image horizontally and vertically */
    background-color: #f0f0f0; /* Light grey background color */
    /* margin: 0;
    padding: 0; */
  }

  .container {
    
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    

  }
  
  .login-form {
    font-family: 'Open Sans', sans-serif;
    margin-right: 80px;
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 600px;
    height: 400px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

    transition: transform 0.3s ease-in-out;
  }

  .login-form:hover {
    transform: scale(1.08); /* Change the scaling factor to your desired hover effect */
  }
  

  /* Style the input fields */
  input[type="email"],
  input[type="password"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Style the login button */
  button[type="submit"] {
    background-color: #1c7d59;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Style the login button on hover */
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  