<app-navbar></app-navbar>

<!-- product-list.component.html -->
<div class="product-list">

    <h2 class="product-list-heading">Product List</h2>

      <button class="btn btn-primary" style="margin-left: 45px; " routerLink="/farmer">Back</button>
      <!-- <button class="btn btn-primary navbar-right" style="margin-right: 45px; " routerLink="/cart">My Cart</button> -->
      <hr>

    <ul class="product-items">
      <li *ngFor="let product of products" class="product-item">
        <!-- <div class="product-thumbnail">
          <img [src]="product.productImgUrl" [alt]="product.productName" height="200" >
          
        </div> -->
        <img [src]="product.productImgUrl" [alt]="product.productName" height="200" >

        <div class="product-details">
          <h1 class="product-name">{{ product.productName }}</h1>
          <div class="product-meta">
            <!-- <div class="product-quantity">Quantity Available: {{ product.productQuantity }}</div> -->
            <div class="product-unit-price">Unit Price: {{ product.productUnitPrice | currency: 'INR' }}</div>
            <!-- <span class="product-total-price">Total: {{ product.productQuantity * product.productUnitPrice | currency:'INR' }}</span> -->
            <!-- <span class="product-image-url">ProductImageUrl: {{ product.productImgUrl }}</span> -->
          </div>
        </div>
        
        <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
      </li>
    </ul>
  </div>


  
  <!-- <app-footer></app-footer> -->