/* product-list.component.css  */
.product-list {
    /* padding: 60px; */
    /* overflow: hidden; */
    /* margin-top: 50px; */
    /* position: sticky; */
  }

  app-navbar {
    position: sticky;
  }
  
  .product-list-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
  } 
  
  .product-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
   max-height: 80vh; /* Set maximum height to 80% of the viewport height */
    /*overflow-y: auto; Enable vertical scrolling when needed */
  }
  
  .product-item {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    /* overflow: hidden; */
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease; 
  } 
  
  .product-item:hover {
    transform: translateY(-5px);
  }
  
  .product-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    /* margin-bottom: 50px; */
  }
  
  .placeholder-image {

    font-size: 24px;
    color: #ccc;

  }

  button {
    background-color: #2e3439;
  }

  button:hover {
    background-color: #1c7d59;
  }
  
  .product-details {
    padding: 10px;
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; 
  }
  
  /* .product-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  
  .product-meta span {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .product-total-price {
    font-weight: bold;
    color: #007bff;
  }


/* Optional: Add custom CSS styling for your page */
/* body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  padding-top: 20px;
} */






