<app-navbar></app-navbar>

<div class="add-advertisement-container">
    <h2>Add Advertisement</h2>
    <form (submit)="submitForm()">
      <div>
        <label for="cropName" class="form-label">Product Name:</label>
        <input type="text" id="cropName" name="cropName" class="form-input" [(ngModel)]="advertisement.cropName" required>
      </div>
      <div>
        <label for="quantityRequired" class="form-label">Quantity Required(kg):</label>
        <input type="number" id="quantityRequired" name="quantityRequired" class="form-input" [(ngModel)]="advertisement.quantityRequired" required>
      </div>
      <div>
        <label for="status" class="form-label">Status:</label>
        <input type="text" id="status" name="status" class="form-input" [(ngModel)]="advertisement.status" required>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>

<app-footer></app-footer>
